<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quizzing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

    <style>
        :root {
            --stroke: #001858;
            --highlight: #fef6e4; 
            --paragraph: #172c66;
            --tertiary: #f582ae;
            --button_text: #001858;
            --main: #f382ae;
            --secondary: #8bd3dd;
            --button: #F3D2C1;
            --hover_btn: #2C469F;
        }

        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body{
            background-color: var(--highlight);
        }
        .home_page
        {
            font-family: 'Poppins', sans-serif;  
        }
        img{
            height: 80px;
            width: 180px;
            position: absolute;
            top: 0;
            margin-top: 10px;
        }
        .logo_class
        {
            display: flex;
            flex-direction: column;

        }
        .logo_text
        {
            margin-top: 40px;
            font-size: 1rem;
            margin-left: 10px;
        }
        .nav_bar
        {
            display: flex;
            justify-content: space-between;
            margin-left: 6%;
            margin-right: 6%;
            margin-top: 4%;
            font-size: 1.2rem;
        }
        .links:hover{
            border-bottom: var(--tertiary) solid 3px;
            
        }

        .headings
        {
            width: 42%;
            display: flex;
            justify-content: space-between; 
            color: var(--stroke); 
            font-weight:bold;
            border-bottom: var(--stroke) solid 3px; 
            position: absolute;
            margin-left: 45%;
            padding: 0px 5px;
        }
        .links
        {
            text-decoration: none;
            color: var(--stroke);
        }
        .home{
            padding: 0px 0px;
        }
        .maintext
        {
            font-size: 4rem;
            font-weight: bold;
            color: var(--stroke);
            text-align: center;
            margin-top: 6%;
        }
        .pinktext
        {
            color: var(--tertiary);
        }
        .buttons_here
        {
            display: flex; 
            margin-left: 485px;
            margin-top: 30px; 
        }
        .btn 
        {
            padding: 4px 5px;
            border: 0px;
            border-radius: 4px ;
            margin: 20px 40px; 
            cursor: pointer;
            background-color: var(--button);
            /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
            font-size: 1.1rem;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            width: 85px;
            font-family: 'Poppins';
            color: var(--stroke);
            font-weight: bold;
        }
        .btn:hover{
            color: var(--hover_btn);
            transition: 0.3s;
        }
        .bulb
        {
            position: absolute;
            margin-left: 900px;
            margin-top: 100px;
            height: 400px;
            width: 250px;
        }
        .gear
        {
            position: absolute;
            margin-top: 100px;
            margin-left: 100px;
            height: 260px;
            width: 260px;
        }
        .screen
        {
            position: absolute;
            height: 350px;
            width: 300px;
            margin-top: 330px;
            margin-left: 700px;
        }
        .comp
        {
            position:absolute;
            height: 260px;
            width: 255px;
            margin-top: 340px;
            margin-left: 200px;
        }
    </style>
</head>
<body>
    <div class="home_page">
        <div class="nav_bar">
            <div class="logo_class">
                <div class="logo"><img src="logo_image.png"> </div>
                <div class="logo_text">
                    Quizzes on the go
                </div>
            </div>
                <div class="headings">
                    <div class="home"><a href="3" class="links">Home</a></div>
                    <div class="home"><a href="3" class="links">Lets Quiz</a></div>
                    <div class="home"><a href="3" class="links">Features</a></div>
                    <div class="home"><a href="3" class="links"> Contact Us</a></div>   
                </div>
            
        </div>
        <div class="page_text">
            
        </div>
        <div class="quizzing">
            <div class="maintext"> 
                Let's get
                <span class="maintext pinktext">Quizzin' </span>
            </div>
        </div>
        <div class="buttons_here">
            <button class="btn">
                Create
            </button>
            <button class="btn">
                Join
            </button>
        </div>

        <img src="bulb.png" class="bulb">
        <img src="gear.png"  class="gear">
        <img src="screen.png" class="screen">
        <img src="comp.png"  class="comp">
    </div>

    <script>

    </script>
</body>
</html>