<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="signup.css">
    
</head>
<body>
    <div class="home_page">
        <div class="nav_bar">
            <div class="logo_class">
                <div class="logo"><img src="logo_image.png"> </div>
                <div class="logo_text">
                    Quizzes on the go
                </div>
            </div>
                <div class="headings">
                    <div class="home"><a href="/" class="links">Home</a></div>
                    <div class="home"><a href="/quizzes" class="links">Lets Quiz</a></div>
                    <div class="home"><a href="/" class="links">Features</a></div>
                    <div class="home"><a href="/contact_us" class="links"> Contact Us</a></div>   
                </div>
            
            </div>
    </div>
    <div class="signup">
    <h1> Sign up</h1>
    <form>
       <div class="name"><input type="text"  class="name" placeholder="Your Name"></div>
        <div class="email"><input type="email"  class="email" placeholder="Your Email"></div>
       <div class="pass"><input type="password"  class="password" placeholder="Your password"></div>
    </form>
       <div class="button"><a href="#">Submit</a></div>
   
</div>

<div class="pic1"><img src="Hands Checkmark.png"></div>
<div class="pic2"><img src="Hands Key.png"></div>
<div class="pic3"><img src="Illustration - Asset 42.png"></div>
<div class="pic4"><img src="Hands Tiny Lock.png"></div>
</body>
</html>